.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category-wrapper {
    overflow: hidden;
    width: 300px;
    /* Chỉ hiển thị 5 mục */
}

.category-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    min-width: fit-content;
    gap: 20px;
}

.category-item {
    flex: 0 0 auto;
    width: 60px;
    /* Định nghĩa chiều rộng cố định */
    text-align: center;
    cursor: pointer;
    padding: 10px;
    white-space: nowrap;
    /* Ngăn chữ xuống dòng */
}

.arrow {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
}